
* {
  margin: 0;
  padding: 0;
}
/* #radii{
    position: absolute;
    left: 50%;
    top: 50%;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom:10px ;
    font-size: 20px;
    border: 4px solid black;
    border-radius: 40px;
} */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: rgb(105, 105, 152);
    height: 50px;
    padding: 20px;

}
a{
    color: rgb(9, 227, 60);
    text-decoration: none;

}
.linklang{
    display: flex;
    justify-content: space-between;
    /* justify-items: flex-start; */
}
.basebar{
    display: inline-flex;
    justify-content: space-around;
}
#logina{
    font-size: 20px;
    font-family: monospace;
}
/* login css */
.bodyin{
    background-color: rgb(184, 184, 249);
}
.preform{
    background-color: rgb(233, 236, 8);
    border-top-right-radius: 20px;
    border-top-left-radius: 00px;
    padding: 5px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: 10px;
}
img{
    height: 60px;
    width: 60px;
    /* border-radius: 70px; */
    border-radius: 50%;
}
form{
    padding: 40px;
    background-color: rgb(151, 243, 40);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 70%;
}
.Homelogin{
    position: absolute;
    top: 30%;
    left: 30%;
    right: 40%;
    bottom: 50%;
}
input{
    border-bottom: 2px solid black;
    width: 300px;
    height: 2em;
    border-radius: 5px;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-left: 10px;
}
input::before{
    border: none;
}
.butlog{
    padding: 10px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: brown;
    border-radius: 15px;
}
#preset{
    color: black;
    display: flex;
    justify-content: space-between;
}
#preset:hover{
    color: rgb(25, 9, 167);
}
#reset{
    padding: 5px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    background-color: brown;
}
.leftshape{
    /* padding: 20px; */
    height: 420px;
    width: 90%;
    position: absolute;
    right: 0%;
    top: 30%;
    bottom: 50%;
    background-color: blue;
   border-bottom-right-radius: 400px;
   border-bottom-left-radius: 400px;
}
.rightshape{
    /* padding: 20px; */
    height: 420px;
    width: 29.9%;
    position: absolute;
    left: 0%;
    top: 30%;
    bottom: 50%;
    background-color: blue;
   border-bottom-left-radius: 400px;
}
/*DROP DOWN CSS*/
.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    border-radius:5px;
  }
  button{
color: rgb(21, 197, 59);
background-color: rgb(105, 105, 152);
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
border: none;
  }
  